<section id="about" class="about section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h3>Bizning <span>Maktab haqida</span></h3>
            <p>Ushbu bo'limda, Maktabimizda tashkillashtirilgan "Yoshlar va Qonun" ko'rik tanlovining Namangan bosqichi haqida batafsil ma'lumot olasiz</p>
        </div>

        <div class="row">
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
                <img src="./img/portfolio/Yoshlar_qonun2.png" class="img-fluid" alt="error">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center aos-init aos-animate"
                data-aos="fade-up" data-aos-delay="100">
                <h3>"Yoshlar va Qonun 2024" Namangan bosqichi</h3>
                <p class="fst-italic">
                    Jamiyatimizda yoshlarni huquqiy ongi va huquqiy madaniyatini yuksaltirib
                    borish, qonun ustuvorligini ta'minlash, qonuniylikni
                    mustahkamlash, shuningdek, O'zbekiston Respublikasi Konstitutsiyasi
                    va boshqa qonun hujjatlariga hurmat ruhida
                    tarbiyalash maqsadida bugun Namangan shahrida joylashgan
                    Yoshlar markazida 14-18 yosh toifa bo'yicha "Yoshlar va Qonun"
                    tanlovining viloyat bosqichi bo'lib o'tdi. Ushbu tanlovda tumanimizning 
                    39-Maktab jamoasi faxri birinchi o'rinni qo'lga kiritdi.
                </p>
                <ul>
                    <li>
                        <i class="bx bxl-redux"></i>
                        <div>
                            <h5>Ushbu loyihadan maqsad quyidagicha</h5>
                            <p>Yoshlar Qonun orqali ish tutishlari, jamiyatga foydali inson bo'lishlari kerak</p>
                        </div>
                    </li>
                    <li>
                        <i class="bx bx-images"></i>
                        <div>
                            <h5>Ushbu tadbir haqida qisqacha</h5>
                            <p>Ushbu tadbir asosan Sud zalida olingan. 5 ta o'quvchimiz qatnashdi. Ular: Ayblanuvchi, Advokat, Prokuror, Sudya, Sud kotibi rollarda qatnashdilar
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
