<section id="contact" class="contact">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title">
            <h2>Bog'lanish</h2>
            <h3><span>Biz Bilan Bog'laning</span></h3>
            <p>Farzandingiz endilikda Yevropada ta'lim olishiga hojat yo'q. Yevropa ta'lim sifati endi shu yerda -
                xalqaro iqtidorli yoshlar maxsus maktabida!
            </p>
        </div>

        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
                <div class="info-box mb-4"><i class="bx bx-map"></i>
                    <h3>Tashrif Buyuring</h3>
                    <p>Uychi, Namangan Viloyati, Uzbekistan</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4"><i class="bx bx-envelope"></i>
                    <h3>Email Yozing</h3>
                    <p>contact-39maktab@mail.ru</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4"><i class="bx bx-phone-call"></i>
                    <h3>Sim Qoqing</h3>
                    <p>+998 69 482 25 37</p>
                </div>
            </div>
        </div>

        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
         <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6018.889700420328!2d71.865066!3d41.0374!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bb551c463d9797%3A0x9dd2fa1d3ff967fe!2s39%20Maktab!5e0!3m2!1sen!2sus!4v1717329805337!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen=""></iframe>
          </div>

            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div 
                            class="col form-group"><input type="text" name="name" class="form-control" id="name" placeholder="Ismingiz" required="">
                        </div>
                        <div 
                            class="col form-group"><input type="email" class="form-control" name="email" id="email" placeholder="Elektron manzilingiz" required="">
                        </div>
                    </div>
                    <div     
                        class="form-group"><input type="text" class="form-control" name="subject" id="subject" placeholder="Nima mavzuda yozyapsiz?" required="">
                    </div>
                    <div 
                        class="form-group"><textarea class="form-control" name="message" rows="5" placeholder="Habar matni" required=""></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Yuklanmoqda</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Sizning xabaringiz yuborildi. Rahmat!</div>
                    </div>
                    <div class="text-center"><button type="submit">Jo'natish</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
