<!-- ======= Maqolalar uchun Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate"
                data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i>
                        <h4><a href="">Sport</a></h4>
                        <p>Sport sog'liq garovi. Bizning Maktabimizda har hafta sportga oid musoboqalar tashkil qilinadi
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate"
                data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Kitobxonlik</a></h4>
                    <p>Biz o'quvchilarimiz vaqtlaridan unumli foydalanishlari uchun, kitobxonlik klublari ochilgan
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate"
                data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Vaqt</a></h4>
                    <p>Yozgi ta'tilni mazmunli o'tkazishlari uchun o'quvchilarimizga yozgi to'garaklar tashkil qildik</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate"
                data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="">Raqamli avlod</a></h4>
                    <p>Yoshlarimiz IT sohasini o'rganishlari uchun, Bizning maktabimizda yetarlicha shart-sharoitlar mavjud</p>
                </div>
            </div>

        </div>

    </div>

</section>
<!-- End Featured Services Section -->
