<section id="hero" class="d-flex align-items-center">
    <div class="container aos-init aos-animate" data-aos="zoom-out" data-aos-delay="100">
        <h1>Iqtidorli bolalar uchun 39-umumiy o'rta ta'lim maktabiga xush kelibsiz <span></span></h1>
        <h2>Eng yaxshi sarmoya - farzandingizga kiritilgan sarmoya!</h2>
        <div class="d-flex"><a href="#about" class="btn-get-started scrollto">Biz Bilan Bog'laning</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i
                    class="bi bi-play-circle"></i><span> Videoni ko'rish </span></a>
        </div>
    </div>
</section>
