<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 style="font-family: sans-serif;" class="display-5 mb-5">Bizning <span
                    style="color: blue; font-family: sans-serif;">Loyihalar</span></h1>
        <p>Ushbu bo'limda so'ngi vaqtlarda erishgan Maktabimiz, Yutuqlarimiz, Tadbirlar <br> va turli tuman loyihalarimiz haqida ma'lumot olasiz.</p>
        </div>


        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="./img/portfolio/Maktab.png" alt="" style="height: 250px;">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Maktabga kirish</h4>
                        <p>Ushbu rasmda ko'rib turganingizdek, bu yer  Maktabimizning kirish qismi va shu o'rinda yuzi hisoblanadi</p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="./img/portfolio/Hovli.png" alt="" style="height: 250px;">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Maktab hovlisi</h4>
                        <p>Har bir ilm dargohida o'ziga hos hovlisi bo'lgani kabi, bizning Maktabimizda ham keng va ko'rkam hovli mavjud. </p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="./img/portfolio/yoshlar_qonun.png" alt="" style="height: 250px;">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">So'ngi qo'ng'iroq</h4>
                        <p>2024-yil Bitiruvchilamizdan olingan lavhalar. Ular bizning Maktabni bitirgach katta hayotga qadam qo'yadilar </p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="./img/portfolio/Yoshlar_qonun2.png" alt="" style="height: 250px;">

                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Yoshlar va Qonun</h4>
                        <p>Yoshlar va Qonun loyihasida, Maktabimiz faxrli 1-o'rinni qo'lga kiritib, Respublika bosqichi uchun yo'llanma oldi.</p>
                    </div>
                </div>
            </div>


            <div id="hover_qilish" class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="./img/portfolio/wahid_ustoz.png" alt="" style="height: 250px;">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Informatika to'garagi</h4>
                        <p>Bizning maktab Axborot texnologiyasi, ya'ni Informatikaga juda qattiq urg'u qaratgan. Shuningdek hozirgi lavhadan ko'rishingiz mumkin.</p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="./img/portfolio/jamoaviy_tadbir.png" alt="" style="height: 250px;">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Bitiruvchilar Tadbirlari</h4>
                        <p>2024 - yilda Bitiruvchilarimiz tomonidan turli xil musobaqalar, tadbirlar va ko'plab ishlar qilib Maktabni bitirishdi.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="./img/portfolio/Informatika.png" alt="" style="height: 250px;">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Informatika ochiq dars</h4>
                        <p>Informatika fani bo'yicha Formula va Funksiyalardan foydalanish bo'yicha ochiq darsdan lavhalar.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="./img/portfolio/darsda.png" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Axborot Texnologiyalari</h4>
                        <p>Axborot Texnologiyalari fani juda ham qiziqarli va sifatli tarzda olib borilmoqda. Lavhalarni sizlar bilan ulashamiz.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="./img/portfolio/Tadbir.png" alt="" style="height: 250px;">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Yoshlar va Qonun Namangan bosqichi</h4>
                        <p>2024-yilda | Yoshlar va Qonun Namagan bosqichi ko'rik tanlovining mutlaq g'olibi, Bizning 39-sonli Maktabimiz! Keyingi bekat Respublika ko'rik tanlovi</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>