<section id="services" class="services">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>To'garaklar</h2>
          <h3>Bizning <span>Xizmatlar</span></h3>
          <p>O'quvchilarni bo'sh vaqtlari mazmunli va foydali sarflanishi uchun bizda siz uchun qo'shimcha to'garaklar tashkillangan.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Sport</a></h4>
              <p>Sport — bu jismoniy va ruhiy qobiliyatni oshirish, sog'lom hayotni ta'minlashning bir qismi.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-math"></i></div>
              <h4><a href="">Matematika</a></h4>
              <p>Matematika shunday tilki- barcha aniq fanlar shu tilda gapiradi. <h6>Lobachevskiy</h6></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-brain"></i></div>
              <h4><a href="">Mental arifmetika</a></h4>
              <p>Mental arifmetika — bu sonlarni eslab qolish va yechishning oddiy va tez usuli.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4><a href="">Fizika</a></h4>
              <p>Barcha fanlar fizikaga va marka to‘plashga bo‘linadi. <h6>Ernest Rezerford</h6></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-dna"></i></div>
              <h4><a href="">Biologiya</a></h4>
              <p>Bu fan, tabiatda voqe bo'ladigan o'zgarishlarni o'rganish, tushunish va ta'riflash uchun muhimdir.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class='bx bxs-bong'></i></div>
              <h4><a href="">Kimyo</a></h4>
              <p>Kimyo, tabiatni tushunish, kimyoviy moddalar va ularga xos reaksiyalar orqali yangi moddalar yaratish, kimyoviy sifatlar va kimyoviy sintez qonunlarini o'rganishga asoslangan.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Informatika</a></h4>
              <p>Astronomiya teleskoplar haqida bo'lgani kabi, kompyuter fanlari ham kompyuterlar haqida emas. <h6>Edsger Dijkstra</h6></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Tarix</a></h4>
              <p>Tarixni o‘rganing, jamiyatdagi barcha muammolarning yechimi tarixda mavjud.</p>
            </div>
          </div>
         
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-book"></i></div>
              <h4><a href="">Ingliz tili</a></h4>
              <p>"Til bilgan - el biladi."</p>
              <p>"Til o'rganib o'zingiz uchun yangi dunyoni kashf eting."</p>
            </div>
          </div>

        </div>

      </div>
    </section>