<section id="team" class="team section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>Team</h2>
            <h3>Our Hardworking <span>Team</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque
                vitae autem.</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Abdumutalli.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Soliyev Abdumutalli</h4>
                        <span>Rus-tili fani o'qituvchisi</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="200">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Donoxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Valiyeva Donoxon</h4>
                        <span>Geografiya va Iqtisodiyot fani o'qituvchisi</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Anvarjon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Ja'farov Anvarjon</h4>
                        <span>Informatika fani o'qituvchisi</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Elmurod.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Yuldashev Elmurod</h4>
                        <span>Jismoniy tarbiya fani o'qituvchisi</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Fotimaxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Xujayeva Fotimaxon</h4>
                        <span>Ingliz-tili fani o'qituvchisi</span>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Hafizaxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Mamadaliyev Hafizaxon</h4>
                        <span>Boshlang'ich sinf o'qituvchisi</span>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Ikromjon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Tursunov Ikromjon</h4>
                        <span>Tasviriy san'at fani o'qituvchisi</span>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Islombek.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Ibragimov Islombek</h4>
                        <span>Jismoniy tarbiya fani o'qituvchisi</span>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Karimaxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Axunova Karimaxon</h4>
                        <span>Maktab Ruxshunosi</span>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Mahfuzaxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Umrzaqova Mahfuzaxon</h4>
                        <span>Ona-tili va Adabiyot fani o'qituvchisi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Malikaxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Ortiqova Malikaxon</h4>
                        <span>Matematika fani o'qituvchisi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Malikaxon01.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Saidakbarova Malikaxon</h4>
                        <span>Ingliz-tili fani o'qituvchisi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Mansurjon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Jo'rayev Mansurjon</h4>
                        <span>Matematika fani o'qituvchisi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Margubaxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Yusupova Marg'ubaxon</h4>
                        <span>Boshlang'ich sinf o'qituvchisi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Mavludaxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Mahmudova Mavludaxon</h4>
                        <span>Boshlang'ich sinf o'qituvchisi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Munavvarxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Otaxonova Munavvarxon</h4>
                        <span>Rus-tili va Adabiyoti o'qituvchisi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Muqaddamxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Mirzayeva Muqaddamxon</h4>
                        <span>Maktab Ruxshunosi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Nargiza_tarix.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Parpiyeva Nargizaxon</h4>
                        <span>Tarix fani o'qituvchisi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Nargiza.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Ziyoviddinova Nargizaxon</h4>
                        <span>Boshlang'ich sinf o'qituvchisi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Nilufarxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Tojiboyeva Nilufarxon</h4>
                        <span>Texnologiya fani o'qituvchisi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Nodiraxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Xojimirzayeva Nodiraxon</h4>
                        <span>Tarbiya va Huquq fani o'qituvchisi</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Noilaxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Xolmatova Noilaxon</h4>
                        <span>Biologiya fani o'qituvchisi</span>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Odiljon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Maxammadaliyev Odiljon</h4>
                        <span>Maktab direktori</span>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Odinaxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Toxirova Odinaxon</h4>
                        <span>Rus-tili fani o'qituvchisi</span>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Rahimaxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Tojiboyeva Rahimaxon</h4>
                        <span>Kimyo fani o'qituvchisi</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Ravshanjon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Tursunov Ravshanjon</h4>
                        <span>Ona-tili va Adabiyot fani o'qituvchisi</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Salimaxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Xudoyberdiya Salimaxon</h4>
                        <span>Boshlang'ich sinf o'qituvchisi</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Sanjarbek.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Ortiqov Sanjarbek</h4>
                        <span>Matematika fani o'qituvchisi</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Sayyora_tarix.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Mamatkarimova Sayyoraxon</h4>
                        <span>Tarix fani o'qituvchisi</span>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Sayyoraxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Ravshanova Sayyoraxon</h4>
                        <span>Boshlang'ich sinf o'qituvchisi</span>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Shahnoza.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Yunusova Shahnozaxon</h4>
                        <span>Boshlang'ich sinf o'qituvchisi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Shokirjon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Mirzaboyev Shokirjon</h4>
                        <span>Ma'naviy va Ma'rifiy ishlar bo'yicha direktor o'rinbosari</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Sohibaxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Mirzamahmudova Sohibaxon</h4>
                        <span>Boshlang'ich sinf o'qituvchisi</span>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Xabibbaxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Nozimatova Xabibaxon</h4>
                        <span>Fizika fani o'qituvchisi</span>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Xavasxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Ataboyeva Xavasxon</h4>
                        <span>Boshlang'ich sinf o'qituvchisi</span>
                    </div>
                </div>
            </div>



            
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Yulduzxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Sobirova Yulduzxon</h4>
                        <span>Musiqa fani o'qituvchisi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Zamiraxon_ingliz.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Tolibjonova Zamiraxon</h4>
                        <span>Ingliz-tili fani o'qituvchisi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Zamiraxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Dadamirzayeva Zamiraxon</h4>
                        <span>Maktab kutubxonasi mudirasi</span>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Zulfiraxon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>O'ralova Zulfiraxon</h4>
                        <span>O'quv ishlari bo'yicha direktor o'rinbosari</span>
                    </div>
                </div>
            </div>


             <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img src="img/team/Alisher.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Ahmadaliyev Alihser</h4>
                        <span>CHQBT fani o'qituvchisi</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>