<section id="team" class="team section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Jamoa</h2>
            <h3>Bizning mexnatkash <span>O'qituvchilarimiz</span></h3>
        </div>

        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-touch="false">
            <div class="carousel-indicators" id="carousel-indicators"></div>
            <div class="carousel-inner" id="carousel-inner"></div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev" style="width: 12%; margin-left: -6%;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next" style="width: 12%; margin-right: -6%;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script>
    const teamMembers = [
        {
            imageUrl: "img/team/Abdumutalli.jpg",
            name: "Soliyev Abdumutalli",
            role: "Rus-tili fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Alisher.jpg",
            name: "Ahmadaliyev Alisher",
            role: "CHQBT fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Anvarjon.jpg",
            name: "Ja'farov Anvarjon",
            role: "Informatika fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Donoxon.jpg",
            name: "Valiyeva Donoxon",
            role: "Geografiya & Iqtisod fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Elmurod.jpg",
            name: "Yuldashev Elmurod",
            role: "Informatika fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Fotimaxon.jpg",
            name: "Xujayeva Fotimaxon",
            role: "Ingliz-tili fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Hafizaxon.jpg",
            name: "Mamadaliyeva Hafizaxon",
            role: "Boshlang'ich sinf o'qituvchisi"
        },
        {
            imageUrl: "img/team/Ikromjon.jpg",
            name: "Tursunov Ikromjon",
            role: "Tasviriy san'at fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Islombek.jpg",
            name: "Ibragimov Islombek",
            role: "Jismoniy-tarbiya fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Karimaxon.jpg",
            name: "Axunova Karimaxon",
            role: "Maktab Ruhshunosi"
        },
        {
            imageUrl: "img/team/Mahfuzaxon.jpg",
            name: "Umruzoqova Mahfuzaxon",
            role: "Ona-tili & Adabiyot fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Malikaxon.jpg",
            name: "Ortiqova Malikaxon ",
            role: "Matematika fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Malikaxon01.jpg",
            name: "Saidakbarova Malikaxon",
            role: "Ingliz-tili fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Mansurjon.jpg",
            name: "Jo'rayev Mansurjon",
            role: "Matematika fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Margubaxon.jpg",
            name: "Yusupova Marg'ubaxon",
            role: "Boshlang'ich sinf o'qituvchisi"
        },
        {
            imageUrl: "img/team/Mavludaxon.jpg",
            name: "Mahmudova Mavludaxon",
            role: "Boshlang'ich sinf o'qituvchisi"
        },
        {
            imageUrl: "img/team/Munavvarxon.jpg",
            name: "Otaxonova Munavvarxon",
            role: "Rus-tili va Afabiyoti fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Muqaddamxon.jpg",
            name: "Mirzayeva Muqaddamxon",
            role: "Maktab Ruhshunosi fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Nargiza_tarix.jpg",
            name: "Parpiyeva Nargizaxon",
            role: "Tarix fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Nilufarxon.jpg",
            name: "Tojiboyeva Nilufarxon",
            role: "Texnologiya fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Nodiraxon.jpg",
            name: "Xojirmirzayeva Nodiraxon",
            role: "Tarbiya va Huquq fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Noilaxon.jpg",
            name: "Holmatova Noilaxon",
            role: "Biologiya fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Odiljon.jpg",
            name: "Muhammadaliyev Odiljon",
            role: "Maktab direktori"
        },
        {
            imageUrl: "img/team/Odinaxon.jpg",
            name: "Tohirova Odinaxon",
            role: "Rus-tili fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Rahimaxon.jpg",
            name: "Tojiboyeva Rahimaxon",
            role: "Kimyo fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Ravshanjon.jpg",
            name: "Tursunov Ravshanjon",
            role: "Ona-tili va Adabiyot fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Salimaxon.jpg",
            name: "Xudoyberdiyeva Salimaxon",
            role: "Boshlang'ich sinf o'qituvchisi"
        },
        {
            imageUrl: "img/team/Sanjarbek.jpg",
            name: "Ortiqov Sanjarbek",
            role: "Matematika fani o'qituvchisi"
        }, {
            imageUrl: "img/team/Sayyora_tarix.jpg",
            name: "Mamatkarimova Sayyoraxon",
            role: "Tarix fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Sayyoraxon.jpg",
            name: "Ravshanova Sayyoraxon",
            role: "Boshlang'ich sinf o'qituvchisi"
        },
        {
            imageUrl: "img/team/Shahnoza.jpg",
            name: "Yunusovav Shahnozaxon",
            role: "Boshlang'ich sinf o'qituvchisi"
        },
        {
            imageUrl: "img/team/Shokirjon.jpg",
            name: "Mirzaboyev Shokirjon",
            role: "Ma'naviy va Ma'rifiy ishlar bo'yicha direktor o'rinbosari"
        },
        {
            imageUrl: "img/team/Sohibaxon.jpg",
            name: "Mirzamahmudova Sohibaxon",
             role: "Boshlang'ich sinf o'qituvchisi"
        },
        {
            imageUrl: "img/team/Xabibbaxon.jpg",
            name: "Nozimatova Xabibaxon",
            role: "Fizika fani o'qituvchisi"
        }, 
        {
            imageUrl: "img/team/Xavasxon.jpg",
            name: "Ataboyeva Xavasxon",
            role: "Boshlang'ich sinf o'qituvchisi"
        },
        {
            imageUrl: "img/team/Yulduzxon.jpg",
            name: "Sobirova Yulduzxon",
            role: "Musiqa fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Zamiraxon_ingliz.jpg",
            name: "Tolibjonova Zamiraxon",
            role: "Ingliz tili fani o'qituvchisi"
        },
        {
            imageUrl: "img/team/Zamiraxon.jpg",
            name: "Dadamirzayeva Zamiraxon",
            role: "Maktab kutubxona mudirasi"
        },
        {
            imageUrl: "img/team/Zulfiraxon.jpg",
            name: "O'ralova Zulfiraxon",
            role: "O'quv ishlari bo'yicha direktor o'rinbosari"
        },
    ];

    // Generate carousel indicators
    const indicatorsContainer = document.getElementById('carousel-indicators');
    const carouselInnerContainer = document.getElementById('carousel-inner');

    // Group team members into sets of four
    const setsOfFour = [];
    for (let i = 0; i < teamMembers.length; i += 4) {
        setsOfFour.push(teamMembers.slice(i, i + 4));
    }

    setsOfFour.forEach((set, index) => {
        // Create indicator
        const indicator = document.createElement('button');
        indicator.type = 'button';
        indicator.setAttribute('data-bs-target', '#carouselExampleDark');
        indicator.setAttribute('data-bs-slide-to', index);
        indicator.setAttribute('aria-label', `Slide ${index + 1}`);
        if (index === 0) {
            indicator.classList.add('active');
            indicator.setAttribute('aria-current', 'true');
        }
        indicatorsContainer.appendChild(indicator);

        // Create carousel item
        const carouselItem = document.createElement('div');
        carouselItem.classList.add('carousel-item');
        if (index === 0) {
            carouselItem.classList.add('active');
        }

        const rowContainer = document.createElement('div');
        rowContainer.classList.add('row', 'justify-content-center', 'g-3'); // Adjust the gap between items here

        set.forEach(member => {
            const memberInfo = `
                <div class="col-lg-3 col-md-6" style="padding: 0 5px;">
                    <div class="member" style="width: 90%; margin: 0 auto;">
                        <div class="member-img">
                            <img src="${member.imageUrl}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>${member.name}</h4>
                            <span>${member.role}</span>
                        </div>
                    </div>
                </div>
            `;
            rowContainer.innerHTML += memberInfo;
        });

        carouselItem.appendChild(rowContainer);
        carouselInnerContainer.appendChild(carouselItem);
    });
</script>